.h2 {
    color: rgb(149, 13, 115);
    font-size: large;
    font-weight: bold;
    line-height: 5.25;
}

.text-scale {
    text-wrap: scale;
    line-height: 1.25;
    
}


.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #c69bd4;
}    /* background-color: #c69bd4 */

.button {
    background-color:aquamarine;
    color: rgb(139, 33, 33);
    padding: 15px 32px;
    margin: 4px 2px;
    cursor: pointer;
    
}